﻿@model YumasoftAssignment.ViewModels.UserDataViewModel
@{
    ViewBag.Title = "SuccessfullLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Witaj <i>@Model.Login</i>.</h2>

<p>
    @if (Model.LastLoginTime != null)
    {
        @:Ostatnio logowałeś się @Model.LastLoginTime
    }
    else
    {
        @:Zalogowałeś się poprawnie po raz pierwszy.
    }


</p>


